# see https://djecrety.ir/
SECRET_KEY = 'YOUR SECRET KEY HERE'
OPENAI_API_KEY = 'see https://platform.openai.com/api-keys'

# You can leave these as is:
MODEL = "gpt-4o"
ENCODING = "cl100k_base"
MODEL_MAX_TOKENS = 64000
RESPONSE_TOKENS = 4096
COST_PER_1K_INPUT_TOKENS_USD = 0.01
COST_PER_1K_OUTPUT_TOKENS_USD = 0.02